.DS_Store
Data_Sets/
config.*
*.csv
*.tsv
test.*
*.ipynb
*.ipynb_checkpoints/
.env
*/__pycache__/
*/*/__pycache__
Deep_Learning/Section 40 - Convolutional Neural Networks (CNN)/Convolutional_Neural_Networks/cnn_datasets
